[flake8]
# Максимальная длина строки
max-line-length = 88

# Игнорируемые ошибки и предупреждения
ignore = 
    E203,  # Пробел перед двоеточием в срезах
    E266,  # Слишком много символов '#' для комментария
    E501,  # Слишком длинная строка
    W503,  # Разрыв строки перед бинарным оператором
    E902   # Ошибка, связанная с отсутствием файла или директории (если нужно)

# Исключаемые директории и файлы
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    src/,  # Исключить директорию src/ (если она отсутствует)
    script/  # Исключить директорию script/ (если она отсутствует)

# Включаемые директории и файлы (по умолчанию проверяет все .py файлы)
# include = 
#     *.py

# Дополнительные параметры (опционально)
per-file-ignores =
    # Игнорировать конкретные ошибки в конкретных файлах
    src/clf.py:E203,E266